.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    text-align: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton {
    
    background-color: #DAD735;
    display: block;
    align-self: center;
    /* align-items: center; */
    width: 25%;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 5px;
    box-shadow: 2px 2px 2px #966909;

    /* display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none; */


}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 300px) 
/* and (max-width: 500px)   */
{
    .OrderButton{
        font-size: .7em;
        padding: 7px 20px;
    }
}

@media (min-width: 251px) 
/* and (max-width: 500px)   */
{
    .OrderButton{

        font-size: .6em;
        padding: auto;
    }
}

@media (max-width: 250px) {
    .OrderButton{
        font-size: .5em;
        padding: auto;
    }
}