.Logo{
    /* background-color: white; */
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        /* justify-content: center; */
}

.Logo img{
    padding: 8px;
    height: 90%;
    /* justify-content: center; */
    display: flex;
    /* align-items: center; */
}

